.editr{
    background-color: rgb(72, 130, 138);
    margin-left: 250px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 2.5em;
    font-weight: 500;
    font-size: 1.2em;
    width: 55rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    height:52rem;
    border-radius: 30px;
}

.edittextTopic{
    font-size: 32px;
    font-weight: bold;
    margin-left: 15rem;
    margin-bottom: 30px;
    }

.editRepbtn{
    width:250px;
    height: 40px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 250px;
    background-color: rgb(46, 46, 54);
    color: mintcream;
    border-color: rgb(2, 12, 36);
    
}

.editRepbtn:hover{
    background: rgb(7, 3, 44);
    color: #baaece;
    font-weight: 500;
}

.editRbtn{
    width:45rem;
    font-size: 18px;
    border-radius: 300px;
}

.editRbtnr{
    width:39rem;
    margin-left:262px;
    font-size: 18px;
    border-radius: 300px;
    
}

.editRbtn:hover{
    background-color: rgb(47, 47, 94);
}
.editRbtnr:hover{
    background-color: rgb(47, 47, 94);
}





